body {
  padding:50px;
  background:#fae1dd;
  font: 400 12pt -apple-system,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','Helvetica','Arial',sans-serif;
}
h1 {
  font-weight:700;
  color:#264653;
  margin:0 0 25px 0;
  padding:0;
}
table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  background:#fff;
  overflow:hidden;
  box-shadow:0 3px 15px rgba(0,0,0,.3);
}
table thead {
  background: #2a9d8f;
  border: 1px solid #2a9d8f;
}
table thead th {
  color: #fff;
  border:0;
  padding: 12px;
  text-align: left;
  font-weight:300;
  line-height:24px;
  font-size:13pt;
}
table tbody td {
  border: solid 1px #ccc;
  color: #333;
  padding: 10px;
  line-height:24px;
}
th button {
  cursor:pointer;
  margin:0 0 0 10px;
  float:right;
  background:0;
  padding:5px;
  border:0;
  font-size:10pt;
  color:rgba(255,255,255,.3);
}
th button:hover {
  color:rgba(255,255,255,.7);
}
th button.active {
  color:#fff;
}
button.simpleTable-showAll {
  margin:20px 0 0 0;
  background:#264653;
  color:#C4CDD0;
  border:0;
  padding:6px 8px;
  font-size:10pt;
  border-radius:2px;
  cursor:pointer;
}
button.simpleTable-showAll:hover {
  color:#fff;
}