html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  padding:50px;
  background:#fae1dd;
  font: 400 12pt -apple-system,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','Helvetica','Arial',sans-serif;
}
h1 {
  font-weight:700;
  color:#264653;
  padding:0;
  line-height:40px;
  margin:0;
  font-size:18pt;
  letter-spacing:-.5px;
}
#tools {
  display:flex;
  justify-content:space-between;
  margin:0 0 25px 0;
}
input[type="search"] {
  background:#fff;
  border:1px solid #2a9d8f;
  padding:8px 12px;
  font-size:11pt;
  margin:0;
  width:200px;
  color:#264653;
  border-radius:3px;
  opacity:.7;
  height:40px;
}
input[type="search"]:focus {
  opacity:1;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  overflow:hidden;
  box-shadow:0 3px 15px rgba(0,0,0,.3);
  width:100%;
  border-radius:3px;
  table-layout: fixed;
}
table thead {
  background: #2a9d8f;
  border: 1px solid #2a9d8f;
}
table thead th {
  color: #fff;
  border:0;
  padding: 12px;
  text-align: left;
  font-weight:300;
  line-height:24px;
  font-size:13pt;
}

table tbody tr {
  background:#fff;
}
table tbody tr:nth-child(even) {
  background:#f3f3f3;
}

table tbody td {
  color: #333;
  padding: 12px;
  line-height:24px;
}
table tbody td b {
  background:yellow;
}
th button.sortButton {
  cursor:pointer;
  margin:0 0 0 15px;
  float:right;
  background:0;
  padding:5px;
  border:0;
  font-size:10pt;
  color:rgba(255,255,255,.3);
}
th button.filterButton {
  cursor:pointer;
  margin:0 0 0 2px;
  background:0;
  padding:5px;
  border:0;
  line-height:1em;
}
th button.filterButton path {
  fill:rgba(255,255,255,.3);
}
th button:hover {
  color:rgba(255,255,255,.7);
}
th button.active {
  color:#fff;
}
button.simpleTable-showAll {
  margin:20px 0 0 0;
  background:#264653;
  color:#C4CDD0;
  border:0;
  padding:6px 8px;
  font-size:10pt;
  border-radius:2px;
  cursor:pointer;
}
button.simpleTable-showAll:hover {
  color:#fff;
}